@charset "utf-8";
@import 'loading-cube';
@import "ember-mobile-menu";

.nav {
  align-items: center;
  display: flex;
  background-color: white;
  box-shadow: 0px 1px 1px #d25f46;
  height: 80px;
  padding: 0 40px;

  &__list {
    display: flex;
    margin: 0;
    list-style: none;
  }

  &__list__item {
    font-size: 1.2em;
    font-weight: 300;
    margin-left: 3em;

    & > .active {
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 900px) {
  .nav__list {
    display: none;
  }
  .nav {
    justify-content: space-between;
  }
  .mobile-menu-wrapper {
    min-height: 0px;
  }
  .box-shadow-menu {
    position: relative;
    width: 30px;
    height: 24px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #fff;
  }
  .box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 9px;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: #d25f46;
    box-shadow:
      0 0.25em 0 0 #d25f46,
      0 0.5em 0 0 #d25f46;
  }
  div#ember266 a {
    display: flex;
    margin: 15px;
  }
  thead {
    display: none;
  }
  thead th:nth-child(1) {
    width: 100vw;
  }
  td {
    display: block;
    width: 90vw;
    padding: 5vw;
  }
}
@media only screen and (min-width: 900px) {
  #ember258 {
    display: none;
  }
}

.github-issue-link {
  border-bottom: solid 2px;
  margin-right: 8px;
}

.github-issue-table {
  border-collapse: collapse;
  margin-top: 3px;
  table-layout: fixed;
  width: 100%;

  thead tr {
    background-color: #f6f8fa;
  }

  thead th {
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
  }

  thead th:nth-child(1) {
    width: 15vw;
  }

  tbody td:nth-child(1) {
    font-weight: 200;
  }

  tbody tr {
    background-color: #fefefe;
    border-top: 1px solid #e1e4e8;
    font-weight: 500;

    &:hover {
      background-color: #d25f461f;
    }
  }
  tbody tr:last-child {
    border-bottom: 1px solid #e1e4e8;
  }

  th,
  td {
    padding: 20px;
  }
}

.github-label {
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  margin-right: 5px;
  padding: 6px;
  font-size: 12px;

  &:hover {
    opacity: 0.7;
  }
  img {
    height: 12px;
  }
}

.current-filter-label {
  @extend .github-label;
  background-color: #e9e9e9;

  span {
    cursor: pointer;
    border-left: 1px dotted;
    padding-left: 6px;
    color: #b1b1b1;
    &:hover {
      opacity: 0.7;
    }
  }
}

.prose {
  margin: 30px;
}

.search-box {
  margin: 20px;
}

.total-issues {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 80%;
  display: inline-block;
}


