@charset "utf-8";
@import 'loading-cube';

*, body {
  box-sizing: border-box;
}

body {
  background-color: var(--color-gray-100);
}

.help-wanted-links {
  margin-bottom: var(--spacing-4);
  max-width: 1024px;

  .es-button {
    margin: 0.4rem 0.2rem;
  }
}

.github-issue-link {
  border-bottom: solid 2px;
  margin-right: 8px;
}

.github-label {
  border-radius: 4px;
  display: inline-block;
  padding: 6px;
  font-size: 12px;

  &:hover {
    opacity: 0.7;
  }
  img {
    height: 12px;
  }
}

.current-filter-label {
  @extend .github-label;
  background-color: var(--color-gray-700);
  opacity: 1;
  color: var(--color-white);
  position: relative;
  text-align: right;
  font-size: 14px;

  &:hover {
    opacity: 1;
  }

  button {
    cursor: pointer;
    margin-left: 0.4rem;
    right: 0.2rem;
    padding: var(--spacing-1);
    font-size: 14px;
  }
}

.github-label-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0.2rem;
  cursor: pointer;
}

.prose {
  height: 100%;
  background-color: var(--color-gray-900);

  .herounit {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40vh;
    height: auto;
    text-align: center;

    h1 {
      color: var(--color-white);
    }
  }

  .section {
    padding: 30px 0 30px;

    .container {
      width: auto;
    }

    p {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.footer {
  .container {
    width: auto;
  }

  .footer-tagline {
    padding: 0 !important;
  }
}


.total-issues {
  margin: var(--spacing-2) 0;
  display: inline-block;
}

// tile
.tile {
  min-height: 150px;
  border-radius: 5px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 6px 16px 0 lightgray;
}

.linkbutton {
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
}

/* Should Remove when adding support for Bootstrap 4*/
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.es-header {
  .container {
    width: auto;
  }
}

.bg-dark {
  &.card--link:focus-within,
  &.card--link:hover {
    color: var(--color-gray-300);
  }
}

.search-label {
  display: block;
}

.search-input {
  border-radius: var(--radius);
  padding: var(--spacing-1);
}

.search-button {
  margin-left: var(--spacing-1);
}

.issues-header {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-2);
}

.bg-white {
  background-color: var(--color-white);

  &.card--link:hover {
    background-color: var(--color-gray-100);
  }
}

.github-issue-number {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem 0.5rem;
  background-color: var(--color-brand);
  color: var(--color-white);
  border-bottom-left-radius: var(--radius);

  a.text-white {
    color: var(--color-white);
  }
}

.search-box {
  outline: 0;
  font-size: 16px;
  position: relative;

  .search-input {
    display: inline-block;
  }

  .search-button {
    display: inline-block;
  }

  @media screen and (max-width: 415px) {
    .search-input {
      width: 100%;
      display: block;
    }

    .search-button, .current-filter-label {
      width: 100%;
      margin: 0.2rem 0;
    }
  }
}
