@charset "utf-8";
@import 'loading-cube';

/* Navbar */
.navbar {
  .navbar-toggler {
    font-size: 16px;
    border: none;
    margin-right: 20px;
    outline: 0;
  }
}

.github-issue-link {
  border-bottom: solid 2px;
  margin-right: 8px;
}

.github-issue-table {
  border-collapse: collapse;
  margin-top: 3px;
  table-layout: fixed;
  width: 100%;

  thead tr {
    background-color: #f6f8fa;
  }

  thead th {
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
  }

  thead th:nth-child(1) {
    width: 15vw;
  }

  tbody td:nth-child(1) {
    font-weight: 200;
  }

  tbody tr {
    background-color: #fefefe;
    border-top: 1px solid #e1e4e8;
    font-weight: 500;

    &:hover {
      background-color: #d25f461f;
    }
  }
  tbody tr:last-child {
    border-bottom: 1px solid #e1e4e8;
  }

  th,
  td {
    padding: 20px;
  }
}

.github-label {
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  margin-right: 5px;
  padding: 6px;
  font-size: 12px;

  &:hover {
    opacity: 0.7;
  }
  img {
    height: 12px;
  }
}

.current-filter-label {
  @extend .github-label;
  background-color: #e9e9e9;

  span {
    cursor: pointer;
    border-left: 1px dotted;
    padding-left: 6px;
    color: #b1b1b1;
    &:hover {
      opacity: 0.7;
    }
  }
}

.prose {
  margin: 30px;
}

.search-box {
  margin: 20px;
}

.total-issues {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 80%;
  display: inline-block;
}

//temporary fix for mobile menu - remove this when ember-styleguide navbar is used.
.mobile-menu__tray a {
  border-bottom: 1px solid lightgray;
  display: block;
  padding: 1em 0.5em;
  text-align:center;
}
