@charset "utf-8";
@import 'loading-cube';

/* Navbar */
.navbar {
  .navbar-toggler {
    font-size: 16px;
    border: none;
    outline: 0;
  }
}

.github-issue-link {
  border-bottom: solid 2px;
  margin-right: 8px;
}

.github-issue-table {
  border-collapse: collapse;
  margin-top: 3px;
  table-layout: fixed;
  width: 100%;

  thead tr {
    background-color: #f6f8fa;
  }

  thead th {
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
  }

  thead th:nth-child(1) {
    width: 15vw;
  }

  tbody td:nth-child(1) {
    font-weight: 200;
  }

  tbody tr {
    background-color: #fefefe;
    border-top: 1px solid #e1e4e8;
    font-weight: 500;

    &:hover {
      background-color: #d25f461f;
    }
  }
  tbody tr:last-child {
    border-bottom: 1px solid #e1e4e8;
  }

  th,
  td {
    padding: 20px;
  }
}

.github-label {
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  margin-right: 5px;
  padding: 6px;
  font-size: 12px;

  &:hover {
    opacity: 0.7;
  }
  img {
    height: 12px;
  }
}

.current-filter-label {
  @extend .github-label;
  background-color: #e9e9e9;

  span {
    cursor: pointer;
    border-left: 1px dotted;
    padding-left: 6px;
    color: #b1b1b1;
    &:hover {
      opacity: 0.7;
    }
  }
}

.prose {
  height: 100%;
  background: url('../images/ember-bkg.svg');

  .herounit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
  }

  .searchbox {
    outline: 0;
    padding: 7px 10px;
    width: 50%;
    font-size: 16px;
    border-radius: 5px;
    border: thin solid lightgray;
  }

  .section {
    background-color: white;
    padding: 30px 0 30px;

    .container {
      width: auto;
    }
    
    p {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.search-box {
  margin: 20px;
}

.total-issues {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 80%;
  display: inline-block;
}

//temporary fix for mobile menu - remove this when ember-styleguide navbar is used.
.mobile-menu__tray a {
  border-bottom: 1px solid lightgray;
  display: block;
  padding: 1em 0.5em;
  text-align:center;
}
// tile
.tile {
  min-height: 150px;
  border-radius: 5px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 6px 16px 0 lightgray;
}

.linkbutton {
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
}

/* Should Remove when adding support for Bootstrap 4*/
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.es-header {
  .container {
    width: auto;
  }
}
//Table display for mobile view
@media only screen and (max-width: 900px) {
  thead {
    display: none;
  }
  td {
    display: block;
    width: 90vw;
    padding: 5vw;
  }
}