<div class="container">
  {{#each this.filterNames as |filterName|}}
    <LinkTo
      class="es-button link"
      data-test-link={{filterName}}
      @model={{filterName}}
      @query={{hash query=""}}
      @route="issues"
    >
      {{filterName}}
    </LinkTo>
  {{/each}}
</div>
