{{page-title "Help Wanted - Ember.js"}}

<EsHeader />

<main class="layout">
  <div class="m-4">
    Sorry for the inconvenience. This app is temporarily down for maintenance.
    If you want to help fix it, please comment on the
    <a href="https://github.com/ember-learn/ember-help-wanted/issues/244">
      Github issue
    </a>. Thank you!
  </div>
</main>

<EsFooter />
