<nav class="nav">
  <img src="images/ember-help-wanted-logo.png">
  <ul class="nav__list">
    <li class="nav__list__item">{{#link-to "issues.core"}}Ember Core{{/link-to}}</li>
    <li class="nav__list__item">{{#link-to "issues.learning"}}Ember Learning{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
