<div class="prose">
    <div class="herounit">
    	<img src="../images/ember-help-wanted-logo.svg" alt="Image">
    </div>
    <div class="section">
    	<div class="article container">
    		{{#es-heading}}
				  Repo
				{{/es-heading}}
				<div class="container">
	    		<div class="row">
	    		{{#each model as | repo |}}
	    			{{#if (eq repo.archived "false")}}
		    			<div class="col-md-3 tile">
		    				<div class="">{{repo.displayName}}</div>
		    				<div class="">Forks: {{repo.forks}}</div>
		    				<div class="linkbutton">
		    					<a href={{repo.htmlUrl}} target="_blank">
		    							Take me there
			    				</a>
		    				</div>
		    			</div>
						{{/if}}
	    		{{/each}}
		    	</div>
		    </div>
    	</div>
    	<div class="article container">
    		{{#es-heading}}
				  You can also contribute
				{{/es-heading}}
				<p> 
					This app is designed to help new folks to the Ember ecosystem find issues to work on that most need help.  The goal would be for this to work well for project nights for meetups, conferences and anyone else interested in hacking on various projects while also helping the main Ember repositories get much needed help with issues.
				</p>
				
				<p>
					The goal is for this app to interface with <a href="https://github.com/ember-learn/ember-help-wanted-server">https://github.com/ember-learn/ember-help-wanted-server</a>as the backend.
				</p>
				
				<h3>Big Picture</h3>
				<p>
					To accomplish the above, we aim to have <a href="https://github.com/ember-learn/ember-help-wanted-server">a Node backend</a>that receives Github webhook notifications about issues across a number of Ember projects.  The backend will filter those issues and store them to act as our "pool" of potential issues that potential contributors can work on.
				</p>
				<p>
					Those issues will then surface in this Ember app, where they can be searched and filtered in various ways as each potential contributor desires. We may add some level of curation to the issues (whether that is needed is still to be determined) or in other ways editorialize as issues show up in the app.
				</p>

				<h3>Future goals</h3>
				<p>
					Once the initial MVP is off the ground, we also wonder about using this tool as a means for meetup organizers (and contributor workshops at various Ember conferences) to sort through issues and pick subsets for their meetings. For example, if a meetup group wants to help its members learn more about Ember Data, a meetup organizer could go through the existing pool of issues and cherry-pick 5-10 issues for folks to focus on for that evening that would help with that.</p>

				<p>
					Or this tool could be used as a foundation for running the Contributors Workshop that occurs each year at EmberConf.
				</p>

				<p>
					Long-term, we also wonder about tweeting out major new issues or in other ways exposing key pieces of info to the greater Ember world (we could potentially use it as a way of posting "maintainer wanted" messages as well).
				</p>

				<p>Read More <a href="https://github.com/ember-learn/ember-help-wanted">here</a>.</p>
    		<div class="subarticle"></div>
    	</div>
    </div>
</div>
