<p>The items below could all use some love and attention.  Please, grab one!</p>
{{models-table
  data=model
  columns=grid.columns
  showColumnsDropdown=false
  filteringIgnoreCase=true
  useNumericPagination=true
  showTableFooter=true
  pageSize= 10
}}
{{outlet}}